/*! ---Sliders Part --- */

.wrap_slider {
    width: 100%;
}

.popular_full {
    width: 100%;
}

.slider_container {
    position: relative;
}

.swiper-container {
    overflow: hidden;
}

.swiper-link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.swiper_pagin_items {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 48px;
}

.wrap_slider .mySwiper_main {
    position: relative;
}

.wrap_slider .mySwiper_main .swiper_arrows {
    padding: 0 16px;
}

.wrap_slider .mySwiper_thumb {
    margin-top: 16px;
}

.sld_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 24px;
    border: 1.5px solid #F6F6F6;
    background: var(--lGrey-02, #F6F6F6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sld_img::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.sld_img img,
.sld_img video,
.sld_img iframe {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.sld_thumb_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 24px;
    border: 1.5px solid #F6F6F6;
    background: var(--lGrey-02, #F6F6F6);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.swiper-slide-thumb-active .sld_thumb_img {
    border: 1.5px solid #004C7F;
}

.sld_thumb_in {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.sld_thumb_in::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.sld_thumb_in img,
.sld_thumb_in video,
.sld_thumb_in iframe {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.spagin_item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    opacity: 1;
    background-color: #fff;
}

.spagin_item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #414952;
}

.spagin_item {
    display: inline-flex;
    position: relative;
    width: auto;
    height: auto;
    opacity: 0.6;
    padding: 10px 10px;
    margin: 0 2px !important;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    color: #A6ABB2;
    white-space: nowrap;
    background: transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}


/* .wrap_slider .mySwiper .spagin_item {
    display: flex;
    justify-content: center;
}

.wrap_slider .mySwiper .swiper-slide-thumb-active .spagin_item {
    color: #fff;
    opacity: 1;
}

.wrap_slider .mySwiper .swiper-slide-thumb-active .spagin_item::after {
    opacity: 1;
    width: 100%;
} */

.wrap_slider .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 64px 0 0 0;
    gap: 8px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    outline: none;
}

.wrap_slider .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 1;
    margin: 0 !important;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    color: #A6ABB2;
    white-space: nowrap;
    background: #D9D9D9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wrap_slider .swiper-pagination-bullet-active {
    background: #8A6FB2;
    color: #fff;
    opacity: 1;
}

.swiper-pagination::-webkit-scrollbar {
    display: none;
}

.scrl_pagin {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wrap_slider .swiper_arrows {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: calc(50% - 24px);
    left: 0;
}

.wrap_slider .swiper-button-next:hover,
.wrap_slider .swiper-button-prev:hover {
    opacity: 1;
}

.wrap_slider .swiper-button-next::after,
.wrap_slider .swiper-button-prev::after,
.wrap_slider .swiper-rtl .swiper-button-next:after {
    display: none;
}

.wrap_slider .swiper-button-next,
.wrap_slider .swiper-button-prev {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;
    top: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 24px 24px;
    box-shadow: 0 8px 24px 0 rgba(129, 139, 156, 0.24);
    border: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* .wrap_slider .swiper-button-disabled {
  opacity: 0 !important;
} */

.wrap_slider .swp_show {
    opacity: 1 !important;
    pointer-events: all;
}

.wrap_slider .swiper-button-next {
    float: right;
    background-image: url("../icons/next.svg");
    right: 0;
    margin-left: auto;
}

.wrap_slider .swiper-button-prev {
    float: left;
    background-image: url("../icons/prev.svg");
    left: 0;
    margin-right: auto;
}


/*====Sliders Part ==== */

@media only screen and (min-width: 560px) and (max-width: 767px) {
    .wrap_slider .swiper-pagination {
        padding: 24px 0 0 0;
    }
    .wrap_slider .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .wrap_slider .swiper_arrows {
        top: calc(50% - 16px);
    }
    .wrap_slider .swiper-button-next,
    .wrap_slider .swiper-button-prev {
        width: 32px;
        height: 32px;
        background-size: 20px 20px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
    .wrap_slider .swiper-pagination {
        padding: 24px 0 0 0;
    }
    .wrap_slider .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .wrap_slider .swiper_arrows {
        top: calc(50% - 16px);
    }
    .wrap_slider .swiper-button-next,
    .wrap_slider .swiper-button-prev {
        width: 32px;
        height: 32px;
        background-size: 20px 20px;
    }
}


/*! ---Sliders Part --- */