/*! ---Sliders Part --- */
.wrap_slider {
    width: 100%;
}

.popular_full {
    width: 100%;
}

.slider_container {
    position: relative;
}

.swiper-container {
    overflow: hidden;
}

.swiper-link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.swiper_pagin_items {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 48px;
}

/* .swiper_pagin_items .swiper-pagination {
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
} */

.wrap_slider .mySwiper2 {
    height: 80%;
    width: 100%;
}

.wrap_slider .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}


.wrap_slider .mySwiper .swiper-slide {
    height: 100%;
    opacity: 1;
}


.wrap_slider .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.spagin_item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    opacity: 1;
    background-color: #fff;
}

.spagin_item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #414952;
}

.spagin_item {
    display: inline-flex;
    position: relative;
    width: auto;
    height: auto;
    opacity: 0.6;
    padding: 10px 10px;
    margin: 0 2px !important;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    color: #A6ABB2;
    white-space: nowrap;
    background: transparent;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.wrap_slider .mySwiper .spagin_item {
    display: flex;
    justify-content: center;
}

.wrap_slider .mySwiper .swiper-slide-thumb-active .spagin_item {
    color: #fff;
    opacity: 1;
}

.wrap_slider .mySwiper .swiper-slide-thumb-active .spagin_item::after {
    opacity: 1;
    width: 100%;
}


.wrap_slider .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 64px 0 0 0;
    gap: 8px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
    outline: none;
}


.wrap_slider .swiper-pagination-bullet {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 1;
    margin: 0 !important;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    color: #A6ABB2;
    white-space: nowrap;
    background: #D9D9D9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wrap_slider .swiper-pagination-bullet-active {
    background: #8A6FB2;
    color: #fff;
    opacity: 1;
}


.swiper-pagination::-webkit-scrollbar {
    display: none;
}

.scrl_pagin {
    display: block;
    width: 100%;
    overflow: hidden;
}

.wrap_slider .swiper_arrows {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: calc(50% - 24px);
    left: 0;
}


.wrap_slider .swiper-button-next:hover,
.wrap_slider .swiper-button-prev:hover {
    opacity: 1;
}

.wrap_slider .swiper-button-next::after,
.wrap_slider .swiper-button-prev::after,
.wrap_slider .swiper-rtl .swiper-button-next:after {
    display: none;
}

.wrap_slider .swiper-button-next,
.wrap_slider .swiper-button-prev {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;
    top: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    border: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* .wrap_slider .swiper-button-disabled {
  opacity: 0 !important;
} */

.wrap_slider .swp_show {
    opacity: 1 !important;
    pointer-events: all;
}

.wrap_slider .swiper-button-next {
    float: right;
    background-image: url("../icons/next.svg");
    right: 48px;
    margin-left: auto;
}

.wrap_slider .swiper-button-prev {
    float: left;
    background-image: url("../icons/prev.svg");
    left: 48px;
    margin-right: auto;
}

/*====Sliders Part ==== */

@media only screen and (min-width: 560px) and (max-width: 767px) {
    .wrap_slider .swiper-pagination {
        padding: 24px 0 0 0;
    }

    .wrap_slider .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
    .wrap_slider .swiper-pagination {
        padding: 24px 0 0 0;
    }

    .wrap_slider .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
}






/*! ---Sliders Part --- */

.slider_container {
    position: relative;
    /* overflow: hidden; */
}

.swiper-container {
    overflow: hidden;
}

.swiper-link {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.swiper_pagin_items {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 16px;
}

/* .swiper_pagin_items .swiper-pagination {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  } */

.wrap_slider .swiper-pagination {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: auto;
    padding: 0 0;
    bottom: 0;
    right: 0;
    left: 0;
    outline: none;
}

.wrap_slider .swiper-pagination-bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    opacity: 0.3;
    margin: 0 6px !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: #fff;
    background-color: #646464;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wrap_slider .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #646464;
}

.wrap_slider .swiper_arrows {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: calc(50% - 24px);
    left: 0;
}


.wrap_slider .swiper-button-next:hover,
.wrap_slider .swiper-button-prev:hover {
    opacity: 1;
    /* background-color: #F5F5F5; */
}

.wrap_slider .swiper-button-next::after,
.wrap_slider .swiper-button-prev::after,
.wrap_slider .swiper-rtl .swiper-button-next:after {
    display: none;
}

.wrap_slider .swiper-button-next,
.wrap_slider .swiper-button-prev {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    margin: 0;
    top: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    border: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* .wrap_slider .swiper-button-disabled {
    opacity: 0 !important;
  } */

.wrap_slider .swp_show {
    opacity: 1 !important;
    pointer-events: all;
}

.wrap_slider .swiper-button-next {
    float: right;
    background-image: url("../assets/icons//next.svg");
    right: 48px;
    margin-left: auto;
}

.wrap_slider .swiper-button-prev {
    float: left;
    background-image: url("../assets/icons//prev.svg");
    left: 48px;
    margin-right: auto;
}

.wrap_online {
    min-height: 340px !important;
    max-height: 480px !important;
}

.onl_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onl_title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 74px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.8px;
    color: #fff;
}

.onl_info {
    display: block;
    width: 100%;
    margin: 16px 0;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #fff;
}

.onl_btn {
    display: flex !important;
}

/*! ---Sliders Part --- */